---

- name: reload systemd
  systemd: daemon_reload=yes

- name: restart docker
  service:
      name: docker
      state: restarted

- name: reload docker
  service:
      name: docker
      state: reloaded
